<app-git-form (newUsername)="getFeedback($event)"></app-git-form>
<div class="mt-3 container-fluid">
    <div class="panel" *ngIf="user">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{user.avatar_url}}" alt="Avatar">
                    <div class="heading">
                        <h5 class="panel-title" style="color: aliceblue;">{{user.name}}</h5> <br>
                        <h6 class="panel-title" style="color: aliceblue;">{{user.login}}</h6>
                    </div>
                    <a href="{{user.html_url}}" style="color: aliceblue;">View profile</a> <br>
                    <!-- <h6 class="">Followers {{user.followers}}</h6> -->
                </div>
                <div class="col-md-8">
                    <div class="info">
                        <p style="color: aliceblue;">{{user.bio}}</p>
                        <button type="button" class="btn btn-primary"><span>Repositories {{user.public_repos}}</span></button>
                        <button type="button" class="btn btn-success"><span>Followers {{user.followers}}</span></button>
                        <button type="button" class="btn btn-primary"><span>Following {{user.following}}</span></button>
                        <button type="button" class="btn btn-info"><span> {{user.type}}</span></button>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Username:</strong>{{user.name}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>LogIn:</strong>{{user.login}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Company:</strong>{{user.company}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Location:</strong>{{user.location}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Blog:</strong><a href="">{{user.blog}}</a>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Joined On:</strong>{{user.created_at | date}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-left: 10%;">
    <h1 style="text-align: center; margin-top: 10px; color: aliceblue;font-family: 'Beau Rivage';"><strong>User Respositories</strong></h1>
    <div *ngFor="let repo of repo">
        <div class="row">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-body">
                        <a href="{{repo.html_url}}" appGithighlight>{{repo.name}}</a>
                        <span style="color: blue; margin-left: 40%; margin-right: 2%;">Watchers: {{repo.watchers}}</span>
                        <span style="color: blue;" appGithighlight>Forks: {{repo.forks}}</span>
                        <p>{{repo.description}}</p>
                        <p>{{repo.created_at | date}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <h3 style="text-align: center; color: aliceblue; font-family: 'Beau Rivage', cursive; margin-top: 1%;">Made with--Devotion</h3>
    <h3 style="text-align: center; color: aliceblue; font-family: 'Beau Rivage', cursive; margin-top: 1%;">Designed by @Rachel</h3>
</footer>