<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2">
            <form action="">
                <input type="text" class="form-control" placeholder="Search or jump to...">
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{user.avatar_url}}" alt="Avatar">
                    <div class="heading">
                        <h5 class="panel-title">{{user.name}}</h5>
                    </div>
                    <a href="{{user.html_url}}">View profile</a> <br>
                    <!-- <h6 class="">Followers {{user.followers}}</h6> -->
                </div>
                <div class="col-md-8">
                    <div class="info">
                        <p>{{user.bio}}</p>
                        <button type="button" class="btn btn-primary"><span>Repositories {{user.public_repos}}</span></button>
                        <button type="button" class="btn btn-success"><span>Followers {{user.followers}}</span></button>
                        <button type="button" class="btn btn-danger"><span>Following {{user.following}}</span></button> 
                    </div>
                    <!-- <br>
                    <ul>
                        <li>
                            <strong>Username:</strong>{{user.name}}
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>