img {
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 50%;
    /* height: 80px; */
}
.panel-title,
a {
    padding-left: 20%;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn{
    margin-right: 3%;
}
.list-group-item{
    width: 80%;
    margin-top: 2%;
}

