<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2">
            <form action="">
                <input type="text" class="form-control" placeholder="Search or jump to...">
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{user.avatar_url}}" alt="Avatar">
                    <div class="heading">
                        <h5 class="panel-title">{{user.name}}</h5> <br>
                        <h6 class="panel-title">{{user.login}}</h6>
                    </div>
                    <a href="{{user.html_url}}">View profile</a> <br>
                    <!-- <h6 class="">Followers {{user.followers}}</h6> -->
                </div>
                <div class="col-md-8">
                    <div class="info">
                        <p>{{user.bio}}</p>
                        <button type="button" class="btn btn-primary"><span>Repositories {{user.public_repos}}</span></button>
                        <button type="button" class="btn btn-success"><span>Followers {{user.followers}}</span></button>
                        <button type="button" class="btn btn-danger"><span>Following {{user.following}}</span></button>
                        <button type="button" class="btn btn-info"><span> {{user.type}}</span></button>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Username:</strong>{{user.name}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>LogIn:</strong>{{user.login}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Company:</strong>{{user.company}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Location:</strong>{{user.location}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Blog:</strong><a href="">{{user.blog}}</a>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Membership Since:</strong>{{user.created_at}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div>
        <ul *ngFor="let repo of repo">
            <li><a href="{{repo.html_url}}">{{repo.name}}</a></li>
            <p>{{repo.description}}</p>
            <p>{{repo.created_at | date}}</p>
        </ul>
    </div>
</div> -->